### While  
- it executes block or set of instructions untill the condition if false  
- while we dont the range  
- execute faster than the for loop  
- user incrementation

In [ ]:
# while syntax  
initialization  
while condition:  
    statements
    incr/decrement

In [1]:
n=1  
while n<=5:
    print("Vasavi College")
    n=n+1

Vasavi College
Vasavi College
Vasavi College
Vasavi College
Vasavi College

In [2]:
n=10
while n>=1:
    print(n,end=" \n")
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [3]:
# i/p 1234  
# o/p digit count:4  
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0  
    c=c+1    #1234%10 123%10 
    s=s//10  
print("\nDigit Count:",c)

6315

Digit Count: 4

In [4]:
# check the given number is palindrome or not  
# 121---121    
n=int(input("Enter number:"))
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome Number!")
else:
    print("Not palindrome Number!")

Enter number:121
palindrome Number!

In [ ]:
# Syntax::Nested for loop  
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statementn

In [ ]:
# Matrix formation  
- rows,columns  
- 2 dimensions  
    1 2 3
    1 2 3

In [5]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")  
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [6]:
for row in range(1,6):
    for column in range(1,9):
        print("*",end=" ")  
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [7]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [8]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
# 1-10  
# Prime Numbers:2,3,5,7  
st=int(input("Starting range:"))
en=int(input("Ending range:"))  
for num in range(st,en+1): #num=1 num=2 num=3 num=4  
    c=0
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)  
        if num%var==0: # factors  
            c+=1       # factors count  
    if c==2:
        print(num,end=" ")

Starting range:1
Ending range:10
2 3 5 7

In [ ]:
# Nested while  
- loop inside another loop

In [ ]:
# Syntax  
initialization  
while condition:
    statements  
    incr/decr
    while condition:  
        statements  
        incr/decr

In [11]:
i = 1
while(i<=10):
    j=1  
    while(j<=10):  
        print(i,"*",j,"=",i*j)
        j = j + 1
        print()
        i=i+1

1 * 1 = 1

2 * 2 = 4

3 * 3 = 9

4 * 4 = 16

5 * 5 = 25

6 * 6 = 36

7 * 7 = 49

8 * 8 = 64

9 * 9 = 81

10 * 10 = 100

In [13]:
# Nested for loop  
for i in range(1, 11):
    for j in range(1, 11): # print multiplication  
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### Jump Statements  
- we called as unconditional jumps  
- Break  
- Continue  
- Pass

### Break  
- Terminates the current loop statements  
- Break is a keyword

In [23]:
for i in "python":  
    if i=='o':
        break
    print(i)

p
y
t
h

In [18]:
for i in "1 2 3 4 5 6 7 8 9":  
    if i=='9':
        break
    print(i)

1

2

3

4

5

6

7

8

### Continue  
- it skips only current iteration and continue the next iteration  
- continue is also a keyword

In [24]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [28]:
# print odd numbners using even number condition using continue  
for i in range(1,10): 
    if(i%2==0):  
        continue  
    print(i,end=" ")

1 3 5 7 9

### Pass  
- it is a keyword  
- when we need condition scientifically correct need to change another operation  
- it is a null operation  
- pass statement we use to create empty classes also

In [29]:
s="python"  
for i in s:
    if i=='h':
        pass  
        print("Pass Exicuted")  
    print(i)

p
y
t
Pass Exicuted
h
o
n

### String  
- string is a group of characters  
- string is a derrived data type and immutable  
- all strings return a new values

In [35]:
a="vasavicollege"  
print(type(a))

<class 'str'>

In [36]:
print(len(a))

13

In [37]:
print(min(a))  
print(max(a))  
print(sorted(a))  
# print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [34]:
s="python"  
s1="workshop"  
print(s+s1)
print(s,s1)  
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [38]:
# slicing syntax::(start:end:step)  
# positive indexing(left to right)  
# negative indexing(right to left)  
s="python workshop"  
print(len(s))  
print(s[0])  
print(s[5])  
print(s[14])  
print(s[-1])  
print(s[-2])  
print(s[::])  
print(s[0:4])  
print(s[5:12])  
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pyth
n works