### While  
- it executes block or set of instructions untill the condition if false  
- while we dont the range  
- execute faster than the for loop  
- user incrementation

In [ ]:
# while syntax  
initialization  
while condition:  
    statements
    incr/decrement

In [1]:
n=1  
while n<=5:
    print("Vasavi College")
    n=n+1

Vasavi College
Vasavi College
Vasavi College
Vasavi College
Vasavi College

In [2]:
n=10
while n>=1:
    print(n,end=" \n")
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [3]:
# i/p 1234  
# o/p digit count:4  
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0  
    c=c+1    #1234%10 123%10 
    s=s//10  
print("\nDigit Count:",c)

6315

Digit Count: 4

In [4]:
# check the given number is palindrome or not  
# 121---121    
n=int(input("Enter number:"))
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome Number!")
else:
    print("Not palindrome Number!")

Enter number:121
palindrome Number!

In [ ]:
# Syntax::Nested for loop  
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statementn

In [ ]:
# Matrix formation  
- rows,columns  
- 2 dimensions  
    1 2 3
    1 2 3

In [5]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")  
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [6]:
for row in range(1,6):
    for column in range(1,9):
        print("*",end=" ")  
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [7]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [8]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
# 1-10  
# Prime Numbers:2,3,5,7  
st=int(input("Starting range:"))
en=int(input("Ending range:"))  
for num in range(st,en+1): #num=1 num=2 num=3 num=4  
    c=0
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)  
        if num%var==0: # factors  
            c+=1       # factors count  
    if c==2:
        print(num,end=" ")

Starting range:1
Ending range:10
2 3 5 7

In [ ]:
# Nested while  
- loop inside another loop

In [ ]:
# Syntax  
initialization  
while condition:
    statements  
    incr/decr
    while condition:  
        statements  
        incr/decr

In [11]:
i = 1
while(i<=10):
    j=1  
    while(j<=10):  
        print(i,"*",j,"=",i*j)
        j = j + 1
        print()
        i=i+1

1 * 1 = 1

2 * 2 = 4

3 * 3 = 9

4 * 4 = 16

5 * 5 = 25

6 * 6 = 36

7 * 7 = 49

8 * 8 = 64

9 * 9 = 81

10 * 10 = 100

In [13]:
# Nested for loop  
for i in range(1, 11):
    for j in range(1, 11): # print multiplication  
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### Jump Statements  
- we called as unconditional jumps  
- Break  
- Continue  
- Pass

### Break  
- Terminates the current loop statements  
- Break is a keyword

In [23]:
for i in "python":  
    if i=='o':
        break
    print(i)

p
y
t
h

In [18]:
for i in "1 2 3 4 5 6 7 8 9":  
    if i=='9':
        break
    print(i)

1

2

3

4

5

6

7

8

### Continue  
- it skips only current iteration and continue the next iteration  
- continue is also a keyword

In [24]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [28]:
# print odd numbners using even number condition using continue  
for i in range(1,10): 
    if(i%2==0):  
        continue  
    print(i,end=" ")

1 3 5 7 9

### Pass  
- it is a keyword  
- when we need condition scientifically correct need to change another operation  
- it is a null operation  
- pass statement we use to create empty classes also

In [29]:
s="python"  
for i in s:
    if i=='h':
        pass  
        print("Pass Exicuted")  
    print(i)

p
y
t
Pass Exicuted
h
o
n

### String  
- string is a group of characters  
- string is a derrived data type and immutable  
- all strings return a new values

In [35]:
a="vasavicollege"  
print(type(a))

<class 'str'>

In [36]:
print(len(a))

13

In [37]:
print(min(a))  
print(max(a))  
print(sorted(a))  
# print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [34]:
s="python"  
s1="workshop"  
print(s+s1)
print(s,s1)  
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [38]:
# slicing syntax::(start:end:step)  
# positive indexing(left to right)  
# negative indexing(right to left)  
s="python workshop"  
print(len(s))  
print(s[0])  
print(s[5])  
print(s[14])  
print(s[-1])  
print(s[-2])  
print(s[::])  
print(s[0:4])  
print(s[5:12])  
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pyth
n works

In [41]:
s='vasavi college'  
s="vasavi college"  

s1='''i am from  
apssdc  
i am santosh'''  
s2="""engineering  
department  
cse"""

In [42]:
print(s1)

i am from
apssdc
i am santosh

In [43]:
print(s2)

engineering
department
cse

In [44]:
print(len(s2))

30

In [19]:
p="apssdc workshop"
print(p.capitalize())

Apssdc workshop

In [47]:
n="santosh"  
print(n)
print(n.upper())
print(n.lower())

santosh
SANTOSH
santosh

In [48]:
m="faculty development program"  
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [51]:
s2="workshop"  
s3="WORKSHOP"  
s4="workshop"  
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [54]:
s7="India Is My Country"  
s7.istitle()

True

In [55]:
s7="India is my country"  
s7.istitle()

False

In [56]:
s8=" "
s8.isspace()

True

In [57]:
# isdigit-which is used to identify the digits in a given string 
# isalpha-which returns true ,alphabets present in a given string  
r="python3"  
r.isalpha()

False

In [58]:
r.isdigit()

False

In [59]:
s="3456789"  
s.isalnum()

True

In [60]:
s="python3 is latest version and today we are practicing python programs"  
s.split()

['python3',
 'is',
 'latest',
 'version',
 'and',
 'today',
 'we',
 'are',
 'practicing',
 'python',
 'programs']

In [61]:
s="python3@is@latest@version@and@today@we@are@practicing@python@programs"  
s.split('@')

['python3',
 'is',
 'latest',
 'version',
 'and',
 'today',
 'we',
 'are',
 'practicing',
 'python',
 'programs']

In [62]:
s="python3 is latest version and today we are practicing python programs" 
s.split('t')

['py',
 'hon3 is la',
 'es',
 ' version and ',
 'oday we are prac',
 'icing py',
 'hon programs']

In [63]:
s="SaNtOsH"  
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

sAnToSh

In [64]:
# swapcase  
s.swapcase()

'sAnToSh'

In [65]:
s="python3 is latest version and today we are practicing python programs " 
s

'python3 is latest version and today we are practicing python programs '

In [66]:
# count::to know the number of occurences  
s.count('a')

6

In [67]:
s.index('t') # searching starts from the begining

2

In [68]:
s.rindex('t') # searching starts from the ending

56

In [69]:
# find --it will return index position of that character  
s.find('t')

2

In [70]:
s.index('is')

8

In [71]:
# replace-used to replace the old character  
# strip-used to remove white space by default  
d="bye vasavi college"  
d.replace('bye','hiii')

'hiii vasavi college'

In [72]:
d="       hello sdc       "  
print(d)

       hello sdc

In [73]:
d.strip()

'hello sdc'

In [74]:
d.rstrip()

'       hello sdc'

In [75]:
# join  
# center  
# startswith  
# endswith  
s="thursday"  
'@'.join(s)

't@h@u@r@s@d@a@y'

In [76]:
s="thursday"  
'.'.join(s)

't.h.u.r.s.d.a.y'

In [79]:
s.center(1)

'thursday'

In [80]:
s.zfill(10)

'00thursday'

In [82]:
s2="today is the 3rd day"  
len(s2)  
s2.zfill(25)

'00000today is the 3rd day'

In [83]:
s2.startswith('to')

True

In [84]:
s2.startswith('day')

False

In [85]:
s2.endswith('day')

True

### Data Structures  
- List
    - It is one of the data structure in python.    
    - List is mutable
    - Represented with []
    - Slicing,Indexing are same as the strings concept.  
- Tuple  
    - tuple represented with ()  
    - tuple is immutable
- set  
    - Set is represented with {}
- Dictionaries  
Data structures are two types:
   - Mutable  
      - we can change at any time after its declaration.  
      - ex:List,Dictionaries  
   - Immutable    
       - we can't change it once it declared    
       - ex:String,Tuple

In [86]:
li=[2,4,7,4,9,1]  
print(li)

[2, 4, 7, 4, 9, 1]

In [87]:
len(li)

6

In [88]:
print("length of the list",len(li))  
print("max one of the list",max(li))  
print("min one of the list",min(li))

length of the list 6
max one of the list 9
min one of the list 1

In [6]:
a=['apple',5,8,24.6]  
b=[4,8,'today',4]

In [7]:
a+b #concatination

['apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [8]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 24.6]

In [10]:
a*3

['apple', 5, 8, 24.6, 'apple', 5, 8, 24.6, 'apple', 5, 8, 24.6]

In [11]:
(a+b)*2

['apple', 5, 8, 24.6, 4, 8, 'today', 4, 'apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [12]:
'apple' in a

True

In [13]:
'today' not in a

True

In [14]:
'apple' not in a

False

In [3]:
names=['siddu','samhi','girl','veeru','manju','santosh']  
names[0]  
names[5]

'santosh'

In [4]:
names[5]  
names[:3]

['siddu', 'samhi', 'girl']

In [5]:
s='ramesh'  
s[0]  
s[:3] # ram  
s[0:3] # ram  
s[2:6] # mesh  
s[2:] # mesh

'mesh'

In [15]:
li1=['vasavi','college','students','hostel']

In [16]:
li1[2:]

['students', 'hostel']

In [17]:
li1[:2]

['vasavi', 'college']

In [18]:
li1[2:5]

['students', 'hostel']